.noticias {
    margin-top: 50px;
    background: linear-gradient(to left,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    background: -webkit-linear-gradient(right,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    background: -moz-linear-gradient(right,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    background: -o-linear-gradient(right,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    background: -ms-linear-gradient(right,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5fab', endColorstr='#f1f1f1',GradientType=1 );
  }

  .btn-Green, .btn-green {
    background: -webkit-linear-gradient(right,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    background: -moz-linear-gradient(right,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    background: -o-linear-gradient(right,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    background: -ms-linear-gradient(right,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    background: linear-gradient(to left,#95ca3e 0%,#95ca3e 50%,#85c638 100%);
    -webkit-box-shadow: 0 1px 1px 0 #58902d;
    box-shadow: 0 1px 1px 0 #58902d;
}

  @media screen and (max-width: 899px) {
    .noticias .listado {
        display: none;
    }
  }

  .focus-ring {
    --tw-ring-color: black;
    --tw-ring-offset-width: 4px;
    --tw-ring-offset-color: black;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.1s ease;
    outline-offset: 4px;
  }
}

.disabled\:opacity-50:disabled {
  opacity: 0.5;
}

.disabled\:ring-primary-500:disabled {
  --tw-ring-opacity: 1;
  --tw-ring-color: none;
}

.hover\:ring-offset-2:hover {
  --tw-ring-offset-width: 4px;
}
.hover\:ring-primary-500:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(24, 232, 170, var(--tw-ring-opacity));
}

.hover\:ring-2:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.hover\:outline-none:hover {
  outline: 2px solid transparent;
  outline-offset: 4px;
}


 
  
  .wrap {
    width: 100%;
    display: table;
    margin: 0 auto;
    text-align: left;
    table-layout: fixed;
  }
  
  .listado {
    display: table-cell;
    vertical-align: top;
    position: relative;
  }
  
  .noticia-imagen {
    display: table-cell;
    vertical-align: top;
    width: 34.5833%;
    padding: 60px 0 120px 45px;
    position: relative;
  }

  .noticia-imagen2 {
    vertical-align: top;
    width: 34.5833%;
    padding: 60px 0 120px 45px;
  }

  .post-title{
    @apply px-4 lg:px-0  text-4xl font-semibold text-gray-800 max-w-screen-md mx-auto leading-relaxed

}
.markdown {
  @apply px-4 lg:px-0 mt-12 text-gray-700 max-w-screen-md mx-auto text-lg leading-relaxed
  }


/* Headers */
.markdown h1,
.markdown h2 {
  @apply text-xl my-6 font-semibold;
}
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-lg my-3 font-semibold;
}

@screen sm {
  .markdown h1,
  .markdown h2 {
    @apply text-2xl;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-xl;
  }
}

/* Links */
.markdown a {
  @apply text-blue-600;
}
.markdown a:hover {
  @apply underline;
}
/* Paragraph */
.markdown p {
  @apply mb-7;
}
/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}
/* Blockquotes */
.markdown blockquote {
  @apply p-2 mx-6 bg-gray-100 mb-7 border-l-4 border-gray-400 italic;
}
.markdown blockquote > p {
  @apply mb-0;
}
/* Tables */
.markdown td,
.markdown th {
  @apply px-2 py-1 border border-gray-400;
}
.markdown tr:nth-child(odd) {
  @apply bg-gray-100;
}
.markdown table {
  @apply mb-6;
}

/* Wrap any inline highlights `that are really long`, but don't modify
   the setting for codeblocks (inside ```), which are rendered in as:
   <pre><code>...
*/
.markdown :not(pre) > code.language-text {
  white-space: pre-line;
}
/* purgecss end ignore */